.main-chat
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        member:
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group.id) do
      .main-header__edit-btn
        Edit
     
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input__box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


-# .form__input__box  text_fieldと同じ大きさ　relative
-#   = f.text_filed 
-#   = f.label abusolute